@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Roboto+Mono:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
    overflow-x: hidden  ;
}

@layer base{
    h3{
        @apply font-mono text-lg text-accent
    }
    h2{
        @apply text-3xl text-gray-300 my-8 font-sans font-bold tracking-tight
    }
    p{
        @apply font-sans text-lg text-gray-400
    }
    .section{
        @apply align-middle flex flex-col justify-center h-screen my-10 md:my-0
    }
    .cards{
        @apply flex flex-wrap
    }
    .card{
        @apply flex flex-col justify-between w-full h-[300px] sm:h-[250px] p-4 sm:w-1/2 md:w-1/3 border-2 border-bg hover:border-accent bg-[#002c04]
    }
    .card-header{
        @apply font-[sfprobold] text-gray-300 mt-4
    }
    .thumbnail{
        @apply h-1/2 w-full object-cover object-top
    }
    .feather{
        @apply text-gray-400 hover:text-accent cursor-pointer iconhover
    }
    .iconhover{
        @apply hover:text-accent hover:translate-y-[-2px] transition-[250ms]
    }
    .collapse-navlink{
        @apply text-gray-400 font-mono text-center active:text-accent w-full
    }
}

/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #0E1800;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #159e00;
    border-radius: 3px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #20E300;
  }

@font-face {
    font-family: helvetica;
    src: url(./fonts/Helvetica.ttf);
}
@font-face {
    font-family: helveticaBold;
    src: url(./fonts/Helvetica-Bold.ttf);
}
@font-face {
    font-family: sfpro;
    src: url(./fonts/SFProDisplay-Regular.ttf);
}
@font-face {
    font-family: sfprobold;
    src: url(./fonts/SFProDisplay-Bold.ttf);
}